/* Write your CSS code here */
.home-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
}
.home-img {
  height: 50vh;
  width: 30vw;
  padding-left: 20px;
}
.button-shop {
  background-color: #0967d2;
  color: white;
  outline: none;
  border-radius: 5px;
  border: 0px solid;
  padding: 5px;
  font-weight: 400;
}
